.img_show {
    background-image:url("../../img/write.png");
    cursor:pointer;
    height:45px;
    width:45px;
    background-size:100%;
    border:none;
}

.img_hide {
    background-image:url("../../img/denied.png");
    cursor:pointer;
    height:45px;
    width:45px;
    background-size:100%;
    border:none;
}
                                 
                                 
