.halfmoon{
    margin-bottom: 1em;
}

.halfmoon ul{
    padding: 0px 9px 14px 5px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font: 14px sans-serif;
    list-style-type: none;
    text-align: left; 
    border-bottom: 1px solid #929492;
}

.halfmoon li{
    display: inline;
    margin: 0;  
}

.halfmoon li a{
    text-decoration: none;
    background-color:#E7E7E7;
	padding: 15px 15px 15px 15px;
	margin-top:0px;
	margin-bottom: 0px;
	margin-right: 1px; /*distance between each tab*/
	border-left: 1px solid #E7E7E7;
	color: black;
	font-size: 14px;
    background:#bdc3c7;
}

.halfmoon li a:visited{
    color: black;
}

.halfmoon li a:active{
    background-color: #CDDADA;
    color: navy;
}

.halfmoon li a:hover{
    background-color:#2196F3;
}

.divSolapa {
	border: 0px solid; 
	height:auto;
	position:relative;
	top:10px;
	left:auto;
	margin-top:10px;
	min-height:10px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
        clear: both;
}

#taps_buttons{
	position:relative;
	top:0px;
	left:30%;
}

.enableButton {
	opacity: 10;
	background:#558b2f;
	color:#fff;
    border-width:0;
    height:50px;
    width:75px;
}


.enableButton input[type="button"]:hover{
	opacity: 10;
	background:#558b2f;
	color:#fff;
    border-width:0;
    height:40px;
    width:75px;
    -webkit-box-shadow: 13px 12px 39px -12px rgba(43,5,12,1);
    -moz-box-shadow: 13px 12px 39px -12px rgba(43,5,12,1);
    box-shadow: 13px 12px 39px -12px rgba(43,5,12,1);
}

.disableButton{
	opacity: 0.5;
	background:#558b2f;
	color:#fff;
    border-width:0;
    height:50px;
    width:75px;
}

.disableButton input[type="button"] {
	opacity: 0.5;
	background:#558b2f;
	color:#fff;
    border-width:0;
    height:40px;
    width:75px;
}
