

.tablaNivel0{
    margin-top: 5%;
    background:#F2F2F2;    
    text-align: left;      
} 

.tablaNivel0 td{   
    cursor: pointer;
    color:#424242;  
    font-style: normal;
    font-family: sans-serif;
    font-size:90%;
}

.tablaNivel1 {
      text-align: left;       
}

.tablaNivel1 td{     
    cursor: pointer;
    color:#585858; 
    font-family:  sans-serif;  
    font-style:italic;
    font-size:90%;
}

.divNivel1{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 10%;        
}


.tablaNivel2 {    
    text-align: left;
}

.tablaNivel2 td{
    cursor: pointer;
    color:#424242;  
    font-family: sans-serif;  
    font-style:normal;
    font-size:90%;
}

.divNivel2{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 10%;
}

