<template>
  <div class="container">
      
    <div class="global">   
     
      <div class="container" style="font-size:12px">
        <div class="row justify-content-left align-items-left">
          <div class="col-12 col-md-12 shadow p-3" style="background-color: #9da65d;">

            <button class="tablink" onclick="openPage('Home', this, '#FFFFFF')" id="defaultOpen">
              <img src="./img/seleccione.svg" width="50px">
            </button>
            <button class="tablink" onclick="openPage('News', this, '#FFFFFF')" >
              <img src="./img/carrito-de-compras.svg" width="50px">
            </button>
            <button class="tablink" onclick="openPage('Contact', this, '#FFFFFF')">
              <img src="./img/metodo-de-pago.svg" width="50px">
            </button>

            <div id="Home" class="tabcontent">
              <h2>Seleccione sus artículos</h2>
              <sc-filter :availables="availables" @updatingArticles="updateArticles"></sc-filter>
              <div class="article">                              
                <sc-article v-for="article in articles" :article="article" :key="article.id"></sc-article>
              </div>
            </div>

            <div id="News" class="tabcontent">
              <div class="cart">
                <sc-cart></sc-cart>
              </div>
            </div>

            <div id="Contact" class="tabcontent">
              <sc-payment></sc-payment>
            </div>

          </div>
        </div>
      </div> 
      
    </div>
    
  </div>
</template>

<script>
import ScArticle from './Article.vue'
import ScCart from './Cart.vue'
import ScFilter from './Filter.vue'
import ScPayment from './Payment.vue'

export default {
  props:['availables'], 
  components:{ScArticle, ScCart, ScFilter, ScPayment},  
  data () {
    return {
      articles:[]
    }
  },
  methods: {    
    updateArticles(articles) {   
      this.articles = this.removeDuplicate(articles);
    },
    removeDuplicate(arr) {
      let hash = {};
      return arr.filter(o => hash[o.id] ? false : hash[o.id] = true);
    }
  }
}
</script>

<style scoped>
/*body {
  background: #eee;
}*/
.global {
  display:flex;
  justify-content: space-between
}
.article {
  width: 100%;
  display:flex;  
  flex-wrap:wrap;
  /*justify-content: space-between*/
}
.cart {
  width: 100%;
  background-color:#F5F5DC;
}
h2 {
    text-align:center;
    /*opacity: .85;*/
    background-color: #8c8c88;
    padding: .5em;
    margin:0;
    color:white;    
  }
</style>
