<template>
  <div class="todo">
    <h2>Verifique su carrito</h2>
    <table border ="1" class="table table-sm table-striped table-hover table-bordered" style="background-color:#F5F5DC;">
      <thead>
        <tr class="table-info">
          <th style="text-align:left;font-weight:bold;padding:10px;" colspan="2">Producto(s)</th>
          <th style="text-align:right;font-weight:bold;padding:10px;">Precio</th>
          <th style="text-align:right;font-weight:bold;padding:10px;">Cantidad</th>
          <th style="text-align:right;font-weight:bold;padding:10px;">SubTotal</th>
        </tr>
      </thead>
      <tbody>
        <tr class="car_pro" v-for="item in items">
          <td width="10%"><img :src="pathPhoto + item.photo" class="imgsd"></td>
          <td style="text-align:right;padding:10px;">{{ article(item) }}</td>
          <td style="text-align:right;padding:10px;">{{ price(item) }}&nbsp;&dollar;</td>
          <td style="text-align:right;padding:10px;">{{ item.qty }}</td>
          <td style="text-align:right;padding:10px;">{{ priceXQty(item) }}&nbsp;&dollar;</td>
        </tr>
      </tbody>
      <tfoot class="table-success" style="text-align:right;font-weight:normal;">
        <tr>
          <th colspan ="4">
            <p>SubTotal:</p>
          </th>
          <td colspan ="1">
            <p><span id="total">{{ totalFormat }}</span>&nbsp;&dollar;</p>
          </td>
        </tr>
        <tr>
          <th colspan ="4">
            <p>10% Iva:</p>
          </th>
          <td colspan ="1">
            <p><span id="tax">{{ taxFormat }}</span>&nbsp;&dollar;</p>
          </td>
        </tr>
        <tr>
          <th colspan ="4">
            <p>Total:</p>
          </th>
          <td colspan ="1">
            <p><span id="total-general">{{ totalGenFormat }}</span>&nbsp;&dollar;</p>
          </td>
        </tr>
      </tfoot>
    </table>   
    
  </div>
</template>

<script>
  import Logic from './Logic'

  export default {

    data() {    
      return {      
        items: Logic.data.cart,
        pathPhoto: `${process.env.MIX_APP_URL}../storage/article/`      
      }      
    },

    computed: {    
      total(){
        const sumBy = (arr, func) => arr.reduce((acc, item) => acc + func(item), 0);
        return sumBy(this.items, function(it) {
          return  (it.price * it.qty)
        })
      },
      totalFormat(){
        return FormatNumber.put(this.total, '.', ',', 2);
      },
      tax() {
        return (this.total*10)/100;
      },
      taxFormat() {
        return FormatNumber.put(this.tax, '.', ',', 2);
      },
      totalGen() {
        return this.total+this.tax;
      },
      totalGenFormat() {
        return FormatNumber.put(this.totalGen, '.', ',', 2);
      }
    },
    
    methods:{
      article(item) {        
        return `${item.name} - ${item.descript}`;
      },
      price(item) {
        return FormatNumber.put((item.price * 1), '.', ',', 2);
      },
      priceXQty(item) {
        let pxq = item.price * item.qty;  
        return FormatNumber.put((pxq), '.', ',', 2);
      }
    }
  
  }
</script>

<style scoped>
  img {
    width:100%;
  }
  .imgsd {
    /*width:10%;*/
    box-shadow: 0 0 10px gray;
  }
  .car_pro {
    justify-content: space-between;
    padding: .8em;
    background-color: #fff;
    margin-top: .4em;
  }
  .total{
    border: 1px solid black;
    padding: .5em;
  }
  
  h2 {
    text-align:center;
    /*opacity: .85;*/
    background-color: #8c8c88;
    padding: .5em;
    margin:0;
    color:white;
  }  
  

</style>
