<template>
  <div class="form-group row">
    <div class="col-sm-6" style="margin-top:1%">
      <label for="category"><h5>Categoría</h5></label>
      <select class="form-control"              
              title="Seleccione una opción"
              v-model="categorySelected"              
              @change="productSearch">
        <option disabled value="">Seleccione...</option>       
        <option v-for="(category, index) in categories" 
                :value="category.id">{{category.name}}</option>
      </select>
    </div> 
    <div class="col-sm-6" style="margin-top:1%">
      <label for="product"><h5>Productos</h5></label>
      <select class="form-control"
              title="Seleccione una opción"
              v-model="productSelected"
              @change="articleSearch">
        <option disabled value="">Seleccione...</option>
        <option v-for="(product, index) in products" 
                :value="product.id">{{product.name}}</option>
      </select>
    </div>
  </div>
</template>

<script>
import Logic from './Logic'
export default {
  props:['availables'], 
  data(){
    return {
      categorySelected: '',
      productSelected: '',
      categories:[],
      products: []      
    }
  },
  created() {
    Service.Product.categoryStock(this.availables).then(response => {
      this.categories = response;
    });
  },
  methods: {
    productSearch() {    
      Service.Product.productStock(this.categorySelected, this.availables).then(response => {
        this.products = response;
        this.productSelected = '';
      });
    },
    articleSearch(){ 
      Service.Product.presentationStock(this.productSelected, this.availables).then(response1 => {
        let presentationIds = [];
        response1.forEach( r => presentationIds.push( r["id"]) );  
        Service.Article.getStock(presentationIds).then( response2 => {
          console.log(response2);
          this.$emit('updatingArticles', Logic.data.cart.concat(response2));
        });
      });
    }
  }
}

</script>
