<template>
  <div>
    <h2>Realice su pago</h2>
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label"><h5>Nombre o Razón Social</h5></label><br/>
        <span class="form-control">{{ businessName }}</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label"><h5>Cédula o Rif</h5></label><br/>
	    <span class="form-control">{{ cedRif }}</span>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label"><h5>Tipo de Cuenta</h5></label><br/>
        <span class="form-control" id="id_account_type">{{ accountType }}</span>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label"><h5>Monto a pagar</h5></label><br/>
        <span class="form-control"
              style="text-align:right"
              id="amount">{{ totalGenFormat }}&nbsp;&dollar;</span>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6">
        <label class="control-label" for="card_number"><h5>Nº de targeta</h5></label><br/>
        <input type="text"
               class="form-control"
               v-model="cardNumber"
               placeholder="##################">
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label" for="expiration_date"><h5>Fecha de expiración</h5></label><br/>
        <select class="form-control" style="width:50%;float:left;" v-model="expirationMonth">
          <option value="">Mes...</option>
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>               
        <select class="form-control" style="width:50%;float:left;" v-model="expirationYear">
          <option value="">Año...</option>
          <option value=2021>2021</option>
          <option value=2022>2022</option>
          <option value=2023>2023</option>
          <option value=2024>2024</option>
          <option value=2025>2025</option>
          <option value=2026>2026</option>
          <option value=2027>2027</option>
          <option value=2028>2028</option>
          <option value=2029>2029</option>
          <option value=2030>2030</option>      
          <option value=2030>2031</option>      
        </select>    
      </div>
    </div>

    <div align="center">
      <button id="pay-button"
              class="btn btn-success"
              @click="payment">Pagar</button>
    </div>
   
  </div>
</template>

<script>
  import Logica from './Logic'

  export default {

    data() {
      return { 
        items: Logica.data.cart,
        cedRif: localStorage.getItem("ced_rif"),
        businessName: localStorage.getItem("business_name"),
        cardNumber: '',
        expirationMonth: '',
        expirationYear: '',
        accountType: 'CC'
      }
    },

    computed: {    
      total() {
        const sumBy = (arr, func) => arr.reduce((acc, item) => acc + func(item), 0);
        return sumBy(this.items, function(it) {
          return  (it.price * it.qty)
        })
      },
      tax() {
        return (this.total*10)/100;
      },
      totalGen() {
        return this.total+this.tax;
      },
      totalGenFormat() {
        return FormatNumber.put(this.totalGen, '.', ',', 2);
      },
      truck() {
        return JSON.stringify(this.items.map(item => {
          return [item.id, item.price*1, item.qty];
        })).replace(/"/g, "'");
      }
    },

    methods: {      
      payment() {
        if (true) {
          const data = new FormData();
          data.append('client_id', (localStorage.getItem('client_id')*1));
          data.append('subject', localStorage.getItem('subject'));
          data.append('description', localStorage.getItem('description'));
          data.append('truck', this.truck);
          data.append('payment_method', 'TDD');
          data.append('account_type', this.accountType);
          data.append('card_number', this.cardNumber);
          data.append('expiration_date', `${this.expirationYear}/${this.expirationMonth}`);
          data.append('customer_id', this.cedRif);
          Service.Pay.make(data).then(response => {
            Notification.acept(
              response.data.voucher[0]+' '+response.data.voucher[2]+' '+response.data.voucher[3]
            );
          }).catch(error => {
            Notification.error(error.message);
          });
        }
      }
    }

}

</script>

<style scoped>
 h2 {
    text-align:center;
    /*opacity: .85;*/
    background-color: #8c8c88;
    padding: .5em;
    margin:0;
    color:white;
  }
</style>

