<template>
  <div>
    <div id="demo" v-if="showGrid" style="background-color: white;">
      <div style="padding: 1% 1% 1% 1%;">
      <div class="modal-header">            
        <h3>Listas de Artículos</h3>
      </div>      
      Buscar <input name="query" v-model="searchQuery">
      <a class="btn btn-primary float-right"       
         @click="showForming({})"
         id="show-create"
         href="#">
         Nueva Opción
      </a>                      
      <grid @showForming="showForming"
        :data="limitGridData | orderByBusinessRules" 
        :columns="gridColumns"
        :filter-key="searchQuery"
        @gettingArticles="getArticles">
      </grid>
      <div id="page-navigation">
        <button @click=movePages(-1)>Back</button>
        <p>{{startRow / rowsPerPage + 1}} out of {{ Math.floor(gridData.length / rowsPerPage) + 1 }}</p>
        <button @click=movePages(1)>Next</button>
      </div>
      </div>
    </div>    
    <forms v-if="showForm"
      @closeForming="closeForming"
      @gettingArticles="getArticles"
      :article="article">
    </forms>    
  </div>

</template>

<script>
  import Forms from './Forms.vue'
  import Grid from './Grid.vue'    

  export default {
  
    components:{Forms, Grid},
   
    data () {
      return {
        searchQuery        : '',
        startRow           : 0,
        rowsPerPage        : 3,
        showForm           : false,
        showGrid           : true,
        gridData           : [],       
        gridColumns        : [
          'id',
          'int_cod',
          'name', //'descript',
          'price',
          'stock_min',
          'stock_max',
          'photo',        
          'status',
        ],
        article           : {}       

      }
    },
    
    created () {        
        this.getArticles();
    },
    methods: {
        movePages (amount) {
            var newStartRow = this.startRow + amount * this.rowsPerPage;
            if (newStartRow >= 0 && newStartRow < this.gridData.length) {
                this.startRow = newStartRow;
            }
        },
        getArticles () {
          Service.Article.get().then(response => {
            response.forEach(
              art => art.photo = `${process.env.MIX_APP_URL}storage/article/${art.photo}`
            );
            this.gridData = response;
          }); 
        },
        showForming(article){
          this.article = article;
          this.showGrid = false;
          this.showForm = true;       
        },
        closeForming(){
          this.showForm = false;
          this.showGrid = true;          
        }
        
    },
    filters: {
        orderByBusinessRules (data) {
            return data.slice().sort((a, b) => {
                return a.power - b.power;
            });
        }
    },
    computed: {
        limitGridData () {
            return this.gridData.slice(this.startRow, this.startRow + this.rowsPerPage);
        }
    }

  }
  
</script>

<style scoped>

.formGrid {
  background-color: white;
}

</style>
