<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">            
            <h4>Detalles del artículo</h4>
          </div>

          <div class="modal-body">
            
            <div class="row">              
              <div class="form-group col-sm-12">                
                <div style="float:right;">
                  <button 
                    v-if ="!showPresentationAdd"
                    class="btn btn-info"
                    @click="showPresentationAdd = true">
                    Agregar
                  </button>
                  <button v-else class="btn btn-danger"
                    @click="showPresentationAdd = false">
                    Cancelar
                  </button>
                </div><br/>
                <div class="row" v-show="showPresentationAdd">                  
                  <div class="form-group col-sm-6">
                    <input type="hidden" v-model="presentationId">
                    <label class="control-label"><h5>Presentación</h5></label><br/>                   
                    <textarea
                      v-model="presentationDescription"                
                      @click="showPresentationSearch = true"
                      @closePresentationAdd = "showPresentationSearch = false"                      
                      readonly
                      style="width:100%;"
                      placeholder='INDIQUE PRESENTACIÓN...'></textarea>
                   </div>
                   <div class="form-group col-sm-6">
                     <label class="control-label"><h5>Cantidad</h5></label>
                     <input type="text"                       
                       class="form-control"
                       v-model="presentationQuantity"
                       placeholder="Cantidad">
                       <button class="btn btn-info" @click="presentationAdd">+</button>
                   </div>                   
                </div>
                <div style="float:left;">
                <table>
                  <thead>
                    <th>Categoría(s)</th>
                    <th>Producto(s)</th>
                    <th>Marca(s)</th>                
                    <th>Presentación(es)</th>
                    <th>Cantidad(es)</th>
                    <th>Acción(es)</th>
                  </thead>
                  <tbody>
                    <tr v-for="(articlePresentation, index) in articlePresentations">
                      <td>{{ articlePresentation.category }}</td>
                      <td>{{ articlePresentation.name }}</td>
                      <td>{{ articlePresentation.mark }}</td>                
                      <td>{{ articlePresentation.packing_deployment }}</td>
                      <td>{{ articlePresentation.quantity }}</td>                      
                      <button 
                        class="btn btn-sm btn-danger"
                        title="Delete..."
                        @click="presentationDelete(articlePresentation.id)"
                        href="#">Eliminar
                      </button>                      
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
             
          </div>
          
        </div>
      </div>
      <presentation-search
        v-if="showPresentationSearch"
        @close="showPresentationSearch = false"
        @presentationSelecting="presentationSelect">
      </presentation-search>
    </div>
  </transition>
</template>

<script>
import store from './store.js';
import PresentationSearch from './PresentationSearch.vue';

export default {

  components:{PresentationSearch},

  props: [],  
    
  data () {
    return {       
        articlePresentations    : [],
        showPresentationAdd     : false,
        showPresentationSearch  : false,
        presentationId          : "",
        presentationDescription : "",
        presentationQuantity    : 1
    }
  },
  
  created() {
    this.articleDetailGet();
  },
  
  methods: {
  
    articleDetailGet() {      
      Service.Article.Detail.get(store.data.article.id).then(response => {
        this.articlePresentations = response;
      });    
    },
     
    presentationSelect(p) {      
      this.presentationId = p.id;
      this.presentationDescription = `${p.category} ${p.name} ${p.mark} ${p.packing_deployment}`;
      this.showPresentationSearch = false;
    },
    
    presentationAdd() { 
      const data = new FormData();         
      data.append('article_id', store.data.article.id);   
      data.append('presentation_id', this.presentationId);
      data.append('quantity', this.presentationQuantity);           
      Service.Article.Detail.insert(data).then(response => {
        this.showPresentationAdd = false;
        this.articleDetailGet();
        Notification.success(response["msg"]);                
      }).catch(error => {        
        Notification.error(error);
      });
    },
    
    presentationDelete(val) {
      Notification.confirm(() => {
        let data = new FormData();
        data.append('_method', 'DELETE');
        data.append('id', val);
        Service.Article.Detail.delete(data, val).then(response => {          
          this.showPresentationAdd = false;
          this.articleDetailGet();     
        }).catch(error => {        
          Notification.error(error);
        });
      });
    }
    
  }  
  
}
</script>

<style scoped>
  table tr td {
    color:black;
  }
</style>
