<template>
  <div class='wrapper'>
    <h3 style="color: white;">{{ action }} artículo</h3>    
    <tabs :mode="mode" >
      <tab title="Datos Principales" @closeFormingPre="closeFormingPre">
          <form-main 
            :article="article" 
            @gettingArticles="gettingArticles"></form-main>
      </tab>
      <tab title="Detalles" @closeFormingPre="closeFormingPre">
          <form-detail></form-detail>
      </tab>
      <tab title="Imagen" @closeFormingPre="closeFormingPre">
          <form-image @gettingArticles="gettingArticles"></form-image>
      </tab>
    </tabs>
  </div>
</template>

<script>
import FormDetail from './FormDetail.vue'
import FormImage from './FormImage.vue'
import FormMain from './FormMain.vue'
import Tab from '../Tabs/Tab.vue'
import Tabs from '../Tabs/Tabs.vue'


export default {
  components: {
    FormDetail,
    FormImage,
    FormMain,
    Tab,
    Tabs    
  },  
  props: ['article'],
  data () {
    return {
      mode: 'dark',
      action: ''      
    }
  },
  created() {
    this.setAction();
  }, 
  methods: {
    setAction() {
      this.action = Object.keys( this.article ).length === 0
        ? 'Crear' : 'Editar';
    },
    closeFormingPre(){
      this.$emit('closeForming')
    },
    gettingArticles() {
      this.$emit('gettingArticles')
    }
  }
}
</script>

<style lang="css">
  * {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
  }
  .wrapper {
    width: 100%;
    /*min-height: 100vh;*/
    /*background-color: #f8f8f8;*/
    margin: 0;
    padding: 20px;
  }

  .change__style {
    background-color: #eee;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 5px;
  }
</style>
