<template>
  <transition name="modal">
    <div class="form-group row">
      <div class="col-sm-12">
        <div  align="center">
          <div>
            <table class="table table-striped table-bordered compact" style="width: 100%">
              <tr>
                <th class="table-info text-center">Subir Foto</th>
              </tr>
              <tr>
                <td><label>Foto</label>
                  <input
                    type="file"
                    id="file"
                    ref="file"
                    @change="onChangeFileUpload()"/>
                  <button @click="submitForm()" class="btn btn-primary">Guardar</button>
                </td>
              </tr>
              <tr>
                <td width="50%" align="center">                  
                    <img v-if="this.image" v-bind:src="image" class="imagen">                  
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import store from './store.js';

export default {

  components:{},

  props: [],  
    
  data () {
    return {       
      file: '',
      image: ''
    }
  },
  
  created () {
    if (store.data.article.photo)
      //this.image = `${process.env.MIX_APP_URL}storage/article/${store.data.article.photo}`;
      this.image = store.data.article.photo;
  },

  methods: {
  
  /*submitForm () {      
      let settings = { headers: { 'content-type':'multipart/form-data' } };
      let formData = new FormData();
      formData.append('photo', this.file);      
      formData.append('article_id', store.data.article.id);      
      axios.post(`${process.env.MIX_APP_URL}varticle/photo`, formData, settings)
        .then(response => {
          if (response){
              Notification.success(response.data["msg"]);
              this.image = `${process.env.MIX_APP_URL}storage/article/${response.data["fileName"]}`;
              this.$emit('gettingArticles');             
          } else            
            Notification.error(`Error# ${response.status}; Desc: ${response.statusText}`);
        }).catch(response => {
          console.log(response)
        });
    
    },*/
 
    submitForm () {      
      let formData = new FormData();
      formData.append('photo', this.file);      
      formData.append('article_id', store.data.article.id);      
      Service.Article.upload(formData).then(response => {        
        if (response){
          Notification.success(response.data["msg"]);
          this.image = `${process.env.MIX_APP_URL}storage/article/${response.data["fileName"]}`;
          this.$emit('gettingArticles');             
        } else            
          Notification.error(`Error# ${response.status}; Desc: ${response.statusText}`);
      }).catch(error => {        
        Notification.error(error);
      });    
    },
    
    onChangeFileUpload() {      
      this.file = this.$refs.file.files[0];
    }

  }  
  
}
</script>

<style scoped>
  table tr th {
    color:black;
  }
  .imagen {
    width:50%;
    box-shadow: 0 0 10px gray;
  }
</style>
