<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">            
              <h4>Principales datos del artículo</h4>
          </div>

          <div class="modal-body">

            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label"><h5>Código Interno</h5></label>                
                <input v-model="articleIntCod"
                       type="text" 
                       class="form-control"
                       minlength="15"
                       maxlength="15"
                       pattern="[0-9a-zA-Z]+"
                       placeholder="Código Interno"
                       required>
              </div>
              <div class="form-group col-sm-6">
               <label class="control-label"><h5>Artículo</h5></label>
               <input v-model="articleName"
                      type="text" 
                      class="form-control"
                      placeholder="Artículo"
                      maxlenght="50"
                      required>
              </div>
            </div>
            
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label"><h5>Stock mínimo</h5></label>
                <input type="number" 
                       class="form-control"
                       min=1
                       v-model="articleStockMin"
                       placeholder="Stock mínimo"
                       required>
              </div>
              <div class="form-group col-sm-6">
               <label class="control-label"><h5>Stock màximo</h5></label>
	           <input type="number" 
                       class="form-control"
                       min=1
                       v-model="articleStockMax"
                       placeholder="Stock màximo"
                       required>
              </div>
            </div>
          
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="control-label"><h5>Estatus</h5></label>
                <select class="form-control"
                        style="width:100%;float:left;"
                        v-model="articleStatus"
                        required>
                  <option value="">Seleccione...</option>
                  <option value="1">Regular</option>
                  <option value="2">Oferta</option>
                  <option value="3">Combo</option>
                  <option value="4">Oferta de Combo</option>
               </select>                       
              </div>
              <div class="form-group col-sm-6">
               <label class="control-label"><h5>Precio</h5></label>
	           <input type="number"
                       step="0.01"
                       pattern="^\d*(\.\d{0,2})?$"
                       class="form-control"
                       v-model="articlePrice"
                       placeholder="Precio"
                       required>
              </div>
            </div>
            
            <div class="row" >
              <div class="form-group col-sm-12">
                <button style="float:left" class="btn btn-info" @click="save">
                  Grabar
                </button>
              </div>
            </div>      

          </div>
                    
        </div>
      </div>      
    </div>
  </transition>
</template>

<script>
import store from './store.js';

export default {
  
  props: ['article'],  
    
  data () {
    return {        
        articleId               : this.article.id,
        articleIntCod           : this.article.int_cod,
        articleName             : this.article.name,
        articleStockMin         : this.article.stock_min,
        articleStockMax         : this.article.stock_max,
        articleStatus           : this.article.status,
        articlePrice            : this.article.price,
        articlePhoto            : this.article.photo,
        add                     : this.isAdd()
    }
  },
  created(){
    store.setArticleId( this.articleId );
    store.setArticlePhoto( this.articlePhoto );
  }, 
  watch: {
    articleIntCod(nVal, oVal) {
      this.articleIntCod = this.articleIntCod.toUpperCase();
    },
    articleName(nVal, oVal) {
      this.articleName = this.articleName.toUpperCase();
    }
  },
  methods: {
    validateForm() {
      let element = document.querySelector("input:invalid");
      return element === null ? true : false;
    },
    formatUpperCase() { 
      this.articleIntCod = this.articleIntCod.toUpperCase();
    },
    isAdd() {
      return Object.keys(this.article).length===0?true:false
    },
    save() {
      this.add ? this.insert() : this.update();
    },
    insert() {
      if (this.validateForm() === true) {
        const data = new FormData();
        data.append('int_cod', this.articleIntCod);
        data.append('name', this.articleName);
        data.append('stock_min', this.articleStockMin);
        data.append('stock_max', this.articleStockMax);
        data.append('status', this.articleStatus);
        data.append('price', this.articlePrice);
        Service.Article.insert(data).then(response => {
          this.toProcessResponse(response);
        }).catch(error => {        
          Notification.error(error);
        });
      }
    },
    update() {
      if (this.validateForm() === true) {
        const data = new FormData();
        data.append('_method', 'PUT');
        data.append('id', this.articleId);      
        data.append('int_cod', this.articleIntCod);
        data.append('name', this.articleName);
        data.append('stock_min', this.articleStockMin);
        data.append('stock_max', this.articleStockMax);
        data.append('status', this.articleStatus);
        data.append('price', this.articlePrice);        
        Service.Article.update(data, this.articleId).then(response => {
          this.toProcessResponse(response);          
        }).catch(error => {        
          Notification.error(error);
        });
      } 
    },
    toProcessResponse(response) {
      if (response.status == 200 || response.status == 201) 
        this.successfulRequest(response);
      else if (response.status == 202)
        Notification.error(response.data["msg"]);
      else
        Notification.error(`Error# ${response.status}; Desc: ${response.statusText}`);         
    },    
    successfulRequest(response) {
      Notification.success(response.data["msg"]);
      if (this.add) {
        this.articleId = response.data["id"];        
        store.setArticleId( this.articleId );
        this.add = false;
      }
      this.$emit('gettingArticles', this.article);
    }    
  }
 
}
</script>

<style scoped>
  
</style>
