<template>  
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th v-for="key in columns"
            v-if="key!='id' && key!='photo'"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
              {{ key | capitalize }}
              <span class="arrow" 
                :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
        </th>
        <th>Imagen</th>
        <th>Action(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns" v-if="key!='id' && key!='photo'">
          {{entry[key]}}
        </td>
        <td width="10%">          
            <img v-bind:src="entry['photo']" class="imagen">
        </td>
        <td>
          <a class="btn btn-sm btn-primary"       
             @click="edit(entry)"
             id="show-edit"
             href="#">
               Edit
          </a>          
          <a v-if="entry.deleted_at"
                  title="Trashed..."
                  style="color:red"                  
                  v-on:click.prevent="restoreArticle(entry.id)"
                  href="#">
                    Trashed
          </a>
          <button v-else class="btn btn-sm btn-danger"
                  title="Delete..."
                  v-on:click.prevent="deleteArticle(entry.id)" href="#">
                    Delete
          </button>
          
          
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>  

  export default {

    props: {
      data: Array,
      columns: Array,
      filterKey: String
    }, 
  
    data () {
      var sortOrders = {}
      this.columns.forEach(function (key) {
        sortOrders[key] = 1
      })
      return {
        sortKey: '',
        sortOrders: sortOrders,        
        article: {}
      }
    },

    computed: {
      filteredData: function () {
        var sortKey = this.sortKey
        var filterKey = this.filterKey && this.filterKey.toLowerCase()
        var order = this.sortOrders[sortKey] || 1
        var data = this.data
        if (filterKey) {
          data = data.filter(function (row) {
            return Object.keys(row).some(function (key) {
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            })
          })
        }
        if (sortKey) {
          data = data.slice().sort(function (a, b) {
            a = a[sortKey]
            b = b[sortKey]
            return (a === b ? 0 : a > b ? 1 : -1) * order
          })
        }
        return data
      }
    },
  
    filters: {
      capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
      }
    },
  
    methods: {
      sortBy: function (key) {
        this.sortKey = key
        this.sortOrders[key] = this.sortOrders[key] * -1
      },
      edit (article) {
        this.$emit('showForming', article);
      },
      
      deleteArticle(val) {
        Notification.confirm(() => {
          let data = new FormData();
          data.append('_method', 'DELETE');
          data.append('id', val);
          Service.Article.delete(data, val).then(response => {        
            this.$emit('gettingArticles');
            //Notification.success('Eliminado correctamente');    
          }).catch(error => {        
            Notification.error(error);
          });
        });
      },
      restoreArticle(val) {
        Notification.confirm(() => {
          let data = new FormData();
          data.append('_method', 'PUT');
          data.append('id', val);
          Service.Article.restore(data, val).then(response => {
            Notification.success('Restablecido correctamente');      
            this.$emit('gettingArticles');                              
          }).catch(error => {        
            Notification.error(error);
          });
        });
      }
      
    }
  
  }
</script>

<style scoped>
  .imagen {
    width:100%;
    box-shadow: 0 0 10px gray;
  }
    
</style>
