<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">            
            <div style="float:left;">
              <h3>Buscar presentación</h3>
            </div>
            <div style="float:right;">
              <button class="btn btn-danger" @click="$emit('close')">
                Cancelar
              </button>   
            </div>
          </div>

          <div class="modal-body">            
            <div style="float:left;width:50%;text-align:left;">
              <input 
                v-model="presentationSearch"
                v-on:keyup="presentationSearching"
                type="text"
                style="text-transform:uppercase">
            </div>
            <table width="100%;"
                   class="table table-striped table-bordered compact"
                   id="id_tab_presentation">
              <thead class="table-success text-center">       
                <tr>
                  <th>Categoria</th>
                  <th>Producto</th>
                  <th>Marca</th>
                  <th>Presentación</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(presentation, index) in presentations"
                    @click="presentationSelect(presentation)"
                    title="Seleccione...">
                  <td>{{ presentation.category }}</td>
                  <td>{{ presentation.name }}</td>
                  <td>{{ presentation.mark }}</td>                
                  <td>{{ presentation.packing_deployment }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!--div class="modal-footer"></div-->

        </div>
      </div>
    </div>
  </transition>
</template>

<script>

export default {

  props: {
    
  },
  
  data () {
    return {
      presentationSearch: '',
      presentations: []
    }
  },

  methods: {
    presentationSearching() {
      let arg = this.presentationSearch.toUpperCase();
      if (arg.length > 0) {
        Service.Product.presentationSearch( arg ).then( response => {          
          this.presentations = response;
        });
      }
    },
    presentationSelect(presentation) {      
      this.$emit('presentationSelecting', presentation);
    }

  }
  
}
</script>

<style scoped>
  .modal-mask {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 80%;
  max-height: 400px;
  overflow-y: auto;
  margin: 0px auto;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header{
    /*background-color: #42b983;
    color: white;*/
}
.modal-header h3 {
  margin-top: 0;
  color: black;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

table tr td {
    cursor: pointer;
}
</style>
